#tabBox{
  margin: 30px auto 20px;
  box-sizing: border-box;
  width: 400px;
}
#navBox{
  /* 只要把容器设置为flex弹性盒子容器，那么容器中的子元素默认在容器
  主轴（X轴）水平靠左排列 */
  display: flex;
  position: relative;
  top: 1px;
}
#navBox li{
  box-sizing: border-box;
  line-height: 35px;
  margin-right: 10px;
  padding: 0 10px;
  border: 1px solid #999;
  cursor: pointer;
}
#navBox li.active{
  border-bottom: 1px solid #fff;
  color: blue;
}
#tabBox>div{
  box-sizing: border-box;
  padding: 10px;
  height: 150px;
  border: 1px solid #999;
  display: none;
}
#tabBox>div.active{
  display: block;
}